* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 10px;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #03e9f4;
	border-radius: 80px;
}

section {
	padding: 100px;
}

.heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}

.heading.white {
	color: #fff;
}

.heading h2 {
	font-size: 30px;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* header start */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky {
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(3, 233, 244, 1);
	-webkit-box-shadow: 0 5px 20px rgba(3, 233, 244, 1);
	-moz-box-shadow: 0 5px 20px rgba(3, 233, 244, 1);
}

header .logo {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

header.sticky .logo {
	color: #111;
}

header ul {
	position: relative;
	display: flex;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

header.sticky ul li a {
	color: #111;
}

header ul li a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0%;
	transition: 0.2s ease;
	background-color: #03e9f4;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-moz-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

header ul li a:hover::before {
	width: 100%;
}
/* header end */

/* main page start */

.banner {
	min-height: 100vh;
	background: #050801;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2 {
	font-size: 48px;
	color: #fff;
	line-height: 1.5em;
}

.banner h2 span {
	font-size: 48px;
	line-height: 1.5em;
	letter-spacing: 4px;
}

.banner h3 {
	font-size: 24px;
	color: #fff;
	line-height: 1.5em;
}

.mainFoto {
	filter: grayscale(100%);
}

.btn {
	position: relative;
	background: #050801;
	display: inline-block;
	color: #03e9f4;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.2s;
	overflow: hidden;
}

.btn:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-moz-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.btn span {
	position: absolute;
	display: block;
}

.btn span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: animate1 1s linear infinite;
}

@keyframes animate1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}

.btn span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}

.btn span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

.btn span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

/* main page end */

/* about start */
.contentText {
	padding-right: 30px;
	max-width: 50%;
}

.contentText h3 {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}

.contentText p {
	font-size: 16px;
	text-align: justify;
}

img {
	max-width: 100%;
}

/* about end */
/* services start */
.services {
	background-color: #111;
}

.services .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.services .content .servicesText {
	padding: 40px 20px;
	background: #222;
	color: #fff;
	width: 150px;
	margin: 20px;
	text-align: center;
	transition: 0.5s;
	cursor: pointer;
}

.services .content .servicesText:hover {
	background: #03e9f4;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-moz-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.services .content .servicesText img {
	width: 60px;
	height: 60px;
	filter: invert(1);
}

.services .content .servicesText h2 {
	font-size: 20px;
}
/* services end */

/* work start */

.toogleMenuLink .toogleBtn,
.toogleMenuLink a {
	position: absolute;
	display: grid;
	place-items: center;
	border-radius: 50%;
}

.toogleMenuLink a {
	background-color: black;
	text-decoration: none;
	height: 30px;
	width: 30px;
	color: #222;
	left: 10%;
	top: 58%;
	transition: 0.5s;
}

.toogleMenuLink .toogleBtn {
	background-color: #111;
	height: 50px;
	width: 50px;
	font-size: 22px;
	border: none;
	left: 8%;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.toogleMenuLink .toogleBtn:hover,
.work .content .workBox .workOverlay .toogleMenuLink a:hover {
	box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.83);
	-moz-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.83);
	-webkit-box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.83);
}

.webSiteLink {
	transform: translate(50%, -150%);
}

.gitHubLink {
	transform: translate(150%, 0);
}

.activLink {
	transform: rotate(43deg);
}

.work .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.work .content .workBox {
	width: 50%;
	padding: 20px 20px;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
}

.work .content .workBox .workOverlay {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}

.work .content .workBox:hover .workOverlay {
	top: 0;
	transition: 1s all ease;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #03e9f4);
}

.work .content .workBox:hover .workOverlay h2 {
	font-size: 20px;
}

.work .content .workBox .workOverlay a {
	text-decoration: none;
}

.work .content .workBox .workOverlay .fa {
	color: white;
	font-size: 20px;
}

/* work end */

/* contact start */
.contact {
	background-color: #111;
}


.contact .content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.contact .contactInfo {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 40px;
}

.contact .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact .contactInfo .box .icon {
	min-width: 60px;
	height: 60px;
	background: #03e9f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.contact .contactInfo .box .text {
	color: #fff;
	margin-left: 20px;
	font-size: 16px;
}

.contact .contactInfo .box .text h3 {
	color: #03e9f4;
}

.contact .contactInfo .box .text p {
	color: #fff;
}

.contact .contactForm {
	width: 50%;
	padding: 40px;
}

.contact .contactForm h2 {
	color: #fff;
	font-size: 24px;
}

.contact .contactForm .form .inputBox {
	width: 100%;
	margin-top: 10px;
	position: relative;
}

.contact .contactForm .form .inputBox input,
.contact .contactForm .form .inputBox textarea {
	width: 100%;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 16px;
	background: transparent;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #03e9f4;
	outline: none;
	color: #fff;
	resize: none;
}

.contact .contactForm .form .inputBox span {
	color: #fff;
	position: absolute;
	left: 0;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}

.contact .contactForm .form .inputBox input:focus ~ span,
.contact .contactForm .form .inputBox input:valid ~ span,
.contact .contactForm .form .inputBox textarea:valid ~ span,
.contact .contactForm .form .inputBox textarea:focus ~ span {
	color: #03e9f4;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact .contactForm .form .inputBox input[type='submit'] {
	width: 100%;
	background: #111;
	color: #03e9f4;
	cursor: pointer;
	border: none;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	transition: 0.2s;
}

.contact .contactForm .form .inputBox input[type='submit']:hover {
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-moz-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	background: #03e9f4;
	color: #111;
}

/* contact end */

/* footer start */
footer {
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.footerSocial {
	display: flex;
	margin-right: 40px;
}

.footerSocial a,
.footerSocial a:visited,
.footerSocial a:active {
	text-decoration: none;
	color: #050801;
}

.footerSocial .fa {
	min-width: 30px;
	height: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 18px;
}

.footerSocial .fa:hover {
	background: #03e9f4;
}

footer span {
	font-family: 'Dancing Script', cursive;
	color: #111;
	font-size: 25px;
}
/* footer end */

/*Media*/

@media all and (max-width: 900px) {
	header,
	header.sticky {
		padding: 20px 40px;
		z-index: 1000;
	}
	.menu {
		position: fixed;
		top: 75px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;ยง
		z-index: 999;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.menu.active {
		left: 0;
	}
	header ul li a {
		color: #111;
		font-size: 24px;
		margin: 10px;
	}
	.toggle {
		width: 40px;
		height: 40px;
		background: url(/img/menu.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}
	.toggle.active {
		background: url(/img/close.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}
	header.sticky .toggle {
		filter: invert(1);
	}
	section {
		padding: 100px 30px;
	}
	.banner h2 {
		font-size: 24px;
	}
	.banner h2 span {
		font-size: 30px;
		letter-spacing: 2px;
	}
	.banner h3 {
		font-size: 16px;
	}
	.btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.heading h2 {
		font-size: 30px;
		font-weight: 700;
	}
	.content {
		flex-direction: column;
	}
	.contentText {
		max-width: 100%;
	}
	.contentText h3 {
		font-size: 20px;
	}
	.contentText p {
		font-size: 12px;
	}
	.services .content .servicesText {
		margin: 6px;
	}
	.toogleMenuLink .toogleBtn {
		background-color: #111;
		height: 30px;
		width: 30px;
		border: none;
		left: 8%;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s;
	}
	.toogleMenuLink a {
		background-color: black;
		text-decoration: none;
		height: 20px;
		width: 20px;
		color: #222;
		left: 10%;
		transition: 0.5s;
	}
	.work .content .workBox .workOverlay .fa {
		color: white;
		font-size: 12px;
	}

	.work .content .workBox:hover .workOverlay h2 {
		font-size: 18px;
	}

	.services .content .servicesText {
		padding: 20px 10px;
		background: #222;
		color: #fff;
		width: 100px;
	}

	.services .content .servicesText h2 {
		font-size: 12px;
	}

	.services .content .servicesText img {
		width: 40px;
		height: 40px;
	}
	.contact .content {
		display: flex;
		flex-direction: column;
	}

	.contact .contactInfo {
		width: 100%;
	}

	.contact .contactForm {
		width: 100%;
	}

	.contact .contactInfo .box .text {
		color: #fff;
		margin-left: 12px;
		font-size: 14px;
	}
}

@media all and (max-width: 768px) {
	.work .content .workBox {
		width: 80%;
		padding: 20px 20px;
		position: relative;
		overflow: hidden;
		transition: 0.5s;
		cursor: pointer;
	}
	.toogleMenuLink .toogleBtn {
		background-color: #111;
		height: 40px;
		width: 40px;
		border: none;
		left: 8%;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s;
	}
	.toogleMenuLink a {
		background-color: black;
		text-decoration: none;
		height: 30px;
		width: 30px;
		color: #222;
		left: 9%;
		top: 55%;
		transition: 0.5s;
	}
	.work .content .workBox .workOverlay .fa {
		color: white;
		font-size: 15px;
	}

	.work .content .workBox:hover .workOverlay h2 {
		font-size: 20px;
	}

	footer {
		font-size: 12px;
	}
	footer span {
		font-size: 18px;
	}
}

@media all and (max-width: 480px) {
	section {
		padding: 80px 10px;
	}
	.services .content .servicesText {
		width: 100px;
	}
	.services .content .servicesText img {
		width: 30px;
		height: 30px;
	}
	.services .content .servicesText h2 {
		font-size: 14px;
	}
	.btn {
		font-size: 10px;
	}
	.mainFoto {
		padding-left: 10px;
	}
	.work .content .workBox .workOverlay .fa {
		color: white;
		font-size: 15px;
	}
	.toogleMenuLink .toogleBtn {
		top: 53%;
	}

	.contact .content {
		display: flex;
		flex-direction: column;
	}
	.contact .contactInfo {
		width: 100%;
		padding: 10px;
	}
	.contact .contactForm {
		width: 100%;
		padding: 10px;
	}
	.contact .contactInfo .box .text {
		color: #fff;
		margin-left: 12px;
		font-size: 14px;
	}
	.contact .contactInfo .box .icon {
		min-width: 35px;
		height: 35px;
	}
	footer {
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.footerSocial {
		display: flex;
		margin-right: 0px;
	}
}
